<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мотиватор</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/first_page/style_1.css">
</head>
<body>
<aside class="">
    <a href="/"><img src="/static/img/it.jpg" alt="It img" style="border-radius: 50%"></a>
    <span class="logo">Vasiliy</span>
    <center><button class="btn_1" style="margin-top: 100px;">Достижения</button></center>
    <center><button class="btn_1" style="margin-top: 30px;">Опросы</button></center>
    <center><button class="btn_1" style="margin-top: 30px;">Заметки</button></center>
    <center><button class="btn_1" style="margin-top: 30px;">Улыбнись</button></center>
    <center><button class="btn_1" style="margin-top: 30px;">Мелодии</button></center>
</aside>
<div class="div_main">
    <img src="/static/img/1680847374_sneg-top-p-motiviruyushchie-kartinki-khoroshego-dnya-54.jpg" class="background" />
    <span class="span_block"><img class="logotip" src="/static/img/motivator_logo.jpg"><span class="motiv">Мотиватор</span></span>
    <span class="span_btn"><button class="btn_2">О проекте</button><button class="btn_2" style="margin-left: 20px;">Войти</button></span>
    <div class="span_form" id="span_form">
        <center><h3 style="user-select: none;">Оцени своё состояние</h3></center>
        <br style="user-select: none;">
        <center>
            <button class="cmaylic" id="click_1"><h2>😭</h2></button>
            <button class="cmaylic" id="click_2"><h2>☹</h2></button>
            <button class="cmaylic" id="click_3"><h2>🤒</h2></button>
            <button class="cmaylic" id="click_4"><h2>😞</h2></button>
            <button class="cmaylic" id="click_5"><h2>😐</h2></button>
            <button class="cmaylic" id="click_6"><h2>😀</h2></button>
            <button class="cmaylic" id="click_7"><h2>🥳</h2></button>
        </center>

    </div>
    <div class="test_div display_none" id="test_div">
        <h2 style="user-select: none;" id="test_question">ми</h2>
        <div style="margin-top: 25px;">
            <h5><input class="radio" type="radio" id="answer_1" name="answer" value=""/>
            <label style="user-select: none;" for="answer_1" id="label_1">ми</label></h5>
        </div>
        <div style="margin-top: 10px;">
            <h5><input class="radio" type="radio" id="answer_2" name="answer" value=""/>
            <label style="user-select: none;" for="answer_2" id="label_2">ми</label></h5>
        </div>
        <div style="margin-top: 10px;">
            <h5><input class="radio" type="radio" id="answer_3" name="answer" value=""/>
            <label style="user-select: none;" for="answer_3" id="label_3">ми</label></h5>
        </div>
        <button class="btn_3" id="btn_3">Продолжить</button>
    </div>
    <div class="card_form display_none" id="card_form">

    </div>
<main>
</main>
</div>
<script src="/static/js/test_div.js"></script>
</body>
</html>