<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мотиватор</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/first_page/style_1.css">
</head>
<body>
<aside class="">
    <a href="/"><img src="/static/img/it.jpg" alt="It img" style="border-radius: 50%"></a>
    <span class="logo">Vasiliy</span>
    <center><button class="btn_1" style="margin-top: 100px;">Достижения</button></center>
    <center><button class="btn_1" style="margin-top: 30px;">Опросы</button></center>
    <center><button class="btn_1" style="margin-top: 30px;">Заметки</button></center>
    <center><button class="btn_1" style="margin-top: 30px;">Улыбнись</button></center>
    <center><button class="btn_1" style="margin-top: 30px;">Мелодии</button></center>
</aside>
<div class="div_main">
    <img src="/static/img/1680847374_sneg-top-p-motiviruyushchie-kartinki-khoroshego-dnya-54.jpg" class="background" />
    <span class="span_block"><img class="logotip" src="/static/img/motivator_logo.jpg"><span class="motiv">Мотиватор</span></span>
    <span class="span_btn"><button class="btn_2">О проекте</button><button class="btn_2" style="margin-left: 20px;">Войти</button></span>
    <div class="span_form">
        <center><h3 style="user-select: none;">Оцени своё состояние</h3></center>
        <br style="user-select: none;">
        <center>
            <button class="cmaylic" id="click_1"><h2>😭</h2></button>
            <button class="cmaylic" id="click_2"><h2>☹</h2></button>
            <button class="cmaylic" id="click_3"><h2>🤒</h2></button>
            <button class="cmaylic" id="click_4"><h2>😞</h2></button>
            <button class="cmaylic" id="click_5"><h2>😐</h2></button>
            <button class="cmaylic" id="click_6"><h2>😀</h2></button>
            <button class="cmaylic" id="click_7"><h2>🥳</h2></button>
        </center>

    </div>
<main>
</main>
</div>

</body>
</html>