img.background {
    min-height: 100%;
    min-width: 640px;
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    user-select: none;
}

.div_main {
    width: 100%;
    height: 100%;
    left: 0;
    position: relative;
}

.logotip {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    margin-left: 20px;
    float: left;
    user-select: none;
}

.span_block {
    display: inline-block;
    margin-top: -8px;
    margin-left: -8px;
    position: absolute;
    width: 100%;
    background-color: #181818;
    padding: 8px;
    left: 0;
}

.motiv {
    padding: 10px;
    font-weight: bold;
    position: relative;
    top: +20px;
    font-size: 34px;
    user-select: none;
    color: #fff;
}
.form_div {
    position: absolute;
    background-color: aqua;
    margin-top: 8%;
    padding: 8px;
    width: 35%;
    left: 32%;
    border-radius: 20px;
    aspect-ratio: 5/5.6;
}

.span_btn {
    position: absolute;
    right: 2%;
    top: +30px;
    user-select: none;
}

.btn_2 {
    width: 100px;
    border: none;
    border-radius: 20px;
    padding: 12px;
    background-color: #fff;
    user-select: none;
}

.btn_3 {
    position: absolute;
    right: 35px;
}

.btn_1 {
    position: absolute;
    left: 35px;
}

.btn {
    border: none;
    width: 210px;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: aqua;
    background-color: #181818;
    user-select: none;
}

.input {
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    user-select: none;
}

.input_1 {
    margin-top: 30%;
}

.input_2 {
    margin-top: 10%;
}

.btn_4 {
    width: 90%;
    height: 40px;
    background-color: #181818;
    user-select: none;
    color: aqua;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    margin-top: 10%;
}

.btn_1:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.btn_3:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.btn_2:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.btn_4:hover {
    transform: scale(0.9);
    cursor: pointer;
}