body {
    background-image: url("/static/img/zakat_5.jpg");
    background-size: cover;
}

aside {
    float: left;
    background-color: #181818;
    width: 20%;
    padding: 1.0%;
    height: 100vh;
    color: #fff;
}

aside img {
    width: 80px;
    float: center;
    height: 80px;
    user-select: none;
}

.name {
    color: #fff;
    float: center;
    margin-top: 10px;
    user-select: none;
    display: inline-block;
}

.to_home {
    float: right;
    margin: 20px 40px;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    background-color: rgb(251, 244, 28);
    width: 110px;
    user-select: none;
}

.btn_1 {
    display: block;
    width: 150px;
    -moz-user-select: none;
    border-radius: 10px;
    background-color: aqua;
    color: #000;
    border: none;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    user-select: none;
}

.btn {
    border-radius: 50%;
    border: none;
    background-color: #181818;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-top: -30px;
    margin-left: -5px;
}

.exit {
    width: 18%;
    color: red;
    bottom: 10px;
    position: absolute;
    user-select: none;
    left: 0;
}

.display_none {
    display: none;
}

.form_to_change {
    position: absolute;
    background-color: #fff;
    left: 40%;
    transform: translate(+50%, +50%);
    margin-top: 3%;
    padding: 8px;
    width: 20%;
    aspect-ratio: 1/1.2;
    border-radius: 20px;
    user-select: none;
}

.apply {
    border-radius: 10px;
    width: 100px;
    padding: 6px;
    user-select: none;
    background-color: aqua;
    border: none;
    margin-top: 20px;

}

.apply_2 {
    border-radius: 10px;
    width: 80%;
    padding: 6px;
    user-select: none;
    background-color: aqua;
    border: none;
    margin-top: 10%;
}

.new_name {
    margin-top: 35%;
    width: 80%;
    aspect-ratio: 5/0.6;
    border-radius: 10px;

}

.to_home:hover {
    transform: scale(0.9);
}

.btn_1:hover {
    transform: scale(1.1);
    background-color: rgb(171, 14, 206);
}

.apply:hover {
    transform: scale(0.98);
}

.apply_2:hover {
    transform: scale(0.98);
}