
aside {
    float: left;
    background-color: #181818;
    width: 20%;
    padding: 1.0%;
    height: 100vh;
    color: #fff;
    -moz-user-select: none;
}

aside img {
    width: 80px;
    float: left;
    height: 80px;
}

aside .logo {
    margin-left; 10px;
    padding: 10px;
    font-width: bold;
    position: relative;
    top: +30px;
    -moz-user-select: none;
    font-size: 28px;
}

main .features {
    float: left;
    width: 75%;
    text-align: center;
}
.btn_1 {
    display: block;
    width: 150px;
    -moz-user-select: none;
    border-radius: 10px;
    background-color: aqua;
    color: #000;
    border: none;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    user-select: none;
}

img.background {
    min-height: 100%;
    min-width: 640px;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    float: left;
    user-select: none;
}

.div_main {
    width: 100%;
    height: 100%;
    position: relative;
}

.span_block {
    position: absolute;
    width: 50%;

}

.logotip {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    margin-left: 20px;
    float: left;
    user-select: none;
}

.motiv {
    padding: 10px;
    font-weight: bold;
    position: relative;
    top: +20px;
    font-size: 34px;
    user-select: none;
}

.span_btn {
    position: absolute;
    right: 2%;
    top: +30px;
    user-select: none;
}

.btn_2 {
    width: 100px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    background-color: rgb(251, 244, 28);
    user-select: none;
}

.span_form {
    position: absolute;
    background-color: #fff;
    top: 95%;
    left: 30%;
    transform: translate(+50%, +50%);
    margin-top: 28%;
    padding: 8px;
    width: 30%;
    border-radius: 20px;
}

.test_div {
    position: absolute;
    background-color: #fff;
    top: 95%;
    left: 20%;
    transform: translate(+50%, +50%);
    margin-top: 25%;
    padding: 8px;
    width: 40%;
    height: 240px;
    border-radius: 20px;
}

.cmaylic {
    border: none;
    background-color: #fff;
    display:inline-block;
}

.display_none {
    display: none;
}

.radio {
    width: 17px;
    height: 17px;
    background-color: aqua;
}

.btn_3 {
    width: 130px;
    border-radius: 10px;
    padding: 8px;
    background-color: rgb(187, 15, 225);
    border: none;
    margin-top: 15px;
    user-select: none;
}

.card_form {
    position: absolute;
    background-color: #fff;
    top: 95%;
    left: 20%;
    transform: translate(+50%, +50%);
    margin-top: 25%;
    padding: 8px;
    width: 40%;
    height: 240px;
    border-radius: 20px;
}

.h2_form_div {
    text-align: center;
}

.margin_top {
    margin-top: 25px;
}

.btn_result {
    width: 100%;
    padding: 6px;
    background-color: rgb(187, 15, 225);
    border-radius: 20px;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position {
    position: relative;
}

.cmaylic:hover {
    transform: scale(1.2);
}

.btn_1:hover {
    transform: scale(1.1);
    background-color: rgb(171, 14, 206);
}

.btn_2:hover {
    transform: scale(0.9);
}

.btn_3:hover {
    transform: scale(0.9);
    background-color: rgb(155, 3, 189);
}

.btn_result:hover {
    transform: scale(0.98);
    background-color: rgb(155, 3, 189);
}