<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style_2.css">
</head>
<body>
<aside class="">
    <center><img src="/static/img/{{ profil }}" alt="It img" style="border-radius: 50%" width="100" height="100">
    </center>
    <center><h3 class="name">{{ name }}</h3>
        <button class="btn" id="btn"><img src="/static/img/pdr.png" style="width: 20px; height: 20px;"></button>
    </center>
    <center>
        <button class="btn_1" style="margin-top: 100px;">Курсы</button>
    </center>
    <center>
        <button class="btn_1" style="margin-top: 36px;">Цели</button>
    </center>
    <center>
        <a href="/preloader" style="text-decoration: none;"><button class="btn_1" style="margin-top: 36px;">Тренажер</button></a>
    </center>
    <center>
        <button class="btn_1" style="margin-top: 36px;">Упражнения</button>
    </center>
    <center>
        <a href="/charts" style="text-decoration: none;"><button class="btn_1" style="margin-top: 36px;">Достижения</button></a>
    </center>
    <a href="/exit" class="exit">Выйти</a>
</aside>
<div class="form_to_change display_none" id="form_to_change">
    <form method="post" enctype="multipart/form-data">
        <center>
            <label style="">
                <input type="file" name="file" style="display: none;" multiple>
                <img style="border-radius: 50%; " src="/static/img/{{ profil }}" width="100" height="100">
            </label>
        </center>
        <center>
            <button type="submit" class="apply">Применить</button>
        </center>
    </form>
    <form method="post">
        <center><input name="new_name" class="new_name" type="text" placeholder="Новое имя" value="" max="10"></center>
        <center>
            <button type="submit" class="apply_2">Применить</button>
        </center>
    </form>
</div>
<main>
    <a href="/">
        <button class="to_home">На главную</button>
    </a>
</main>
<script src="/static/js/form.js"></script>
</body>
</html>