{% extends 'entrance.html' %}

{% block content %}

<center>
    <div class="form_div">
        <span class="span"><button class="btn_1 btn" id="btn_1">Войти</button>
                <button class="btn_3 btn" id="btn_3">Зарегистрироваться</button></span>
        <form>
            <input type="text" id="input_1" class="input_1 input" placeholder="Имя">
            <input type="text" id="input_2" class="input_2 input" placeholder="Никнейм">
            <input type="text" id="input_3" class="input_2 input" placeholder="Пароль">
            <input type="text" id="input_4" class="input_2 input" placeholder="Почта">
            <button class="btn_4">Войти</button>
        </form>
    </div>
    <script src="/static/js/btn_redirect_3.js"></script>
    <script src="/static/js/btn_redirect_4.js"></script>
</center>

{% endblock %}