<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
<div class="wrapper">
    <div class="title">
        Авторизация
    </div>
    <form action="#" method="post">
        <div class="field">
            <input type="text" name="name" max="10" required>
            <label>Имя</label>
        </div>
        <div class="field">
            <input type="text" name="nickname" required>
            <label>Никнейм</label>
        </div>
        <div class="field">
            <input type="text" name="password" required>
            <label>Пароль</label>
        </div>
        {% block content %}
        {% endblock %}
        <div class="field">
            <input type="submit" value="Вход">
        </div>
        {% block content_2 %}
        {% endblock %}
    </form>
</div>
<h4 class="error" style="bottom: 90%; {{ display_none }}">{{ error }}</h4>
<button class="btn_redirect" id="btn_redirect_2">На главную</button>
<script src="/static/js/btn_redirect_2.js"></script>
</body>
</html>