<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preloader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style_3.css">
</head>
<body>
<div id="preloader__wrapper" class="preloader__wrapper display_none">
    <div class="h1_div">
        <h2 class="text">Тренажер для дыхания</h2>
    </div>
    <div class="inhale_and_exhale">
        <h3 id="text" class="text">Выдох</h3>
    </div>
    <div id="preloader" class="preloader">
    </div>
    <div class="preloader_div">
        <button id="btn_1" class="btn_preloader">Остановить</button>
    </div>
</div>
<div id="control_div">
    <div id="preloader__wrapper_2" class="preloader__wrapper_2">
        <button class="btn_preloader btn_to_home">Вернуться</button>
        <div class="h1_div">
            <h2 class="text">Тренажер для дыхания</h2>
        </div>
        <div class="turned_off_preloader ">
            <div class="div">

            </div>
        </div>
        <div class="preloader_div">
            <button id="btn_2" class="btn_preloader">Начать</button>
        </div>
    </div>
</div>
<script src="/static/js/preloader.js"></script>
</body>
</html>