<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrations</title>
    <link rel="stylesheet" href="/static/css/style_2.css">
</head>
<body>
<div class="div_main">
    <img src="/static/img/sea-blue-ocean-beach-emerald.jpg" class="background"/>
    <span class="span_block"><img class="logotip" src="/static/img/motivator_logo.jpg"><span
            class="motiv">Мотиватор</span></span>
    <span class="span_btn"><button class="btn_2" id="btn_redirect_2">На главную</button></span>
    <center>
    <form class="form_div">
        <span class="span"><button class="btn_1 btn" id="btn_1">Войти</button>
                <button class="btn_3 btn" id="btn_3">Зарегистрироваться</button></span>
        <input type="text" id="input_1" class="input_1 input" placeholder="Имя">
        <input type="text" id="input_2" class="input_2 input" placeholder="Никнейм">
        <input type="text" id="input_3" class="input_2 input" placeholder="Пароль">
        <input type="text" id="input_4" class="input_2 input" placeholder="Повторите пароль">
        <input type="text" id="input_5" class="input_2 input" placeholder="Почта">
        <button class="btn_4">Войти</button>
    </form>
</center>
</div>
<script src="/static/js/btn_redirect_2.js"></script>
</body>
</html>