<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/static/css/form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper SMS_form">
    <div class="title">
        Авторизация
    </div>
    <form action="#" method="post">
        <div style="justify-content: center; display: flex; margin-left: 25px; margin-top: 20%;">
            <input maxlength="1" required name="cod_1" class="input">
            <input maxlength="1" required name="cod_2" class="input">
            <input maxlength="1" required name="cod_3" class="input">
            <input maxlength="1" required name="cod_4" class="input">
            <input maxlength="1" required name="cod_5" class="input">
            <script src="/static/js/jquery.js" type="text/javascript"></script>
        </div>
        <div class="field" style="margin-top: 20%;">
            <input type="submit" value="Вход">
        </div>
    </form>
</div>
<h4 class="error" style="bottom: 90%; {{ display_none }}">{{ error }}</h4>
<button class="btn_redirect" id="btn_redirect_2">На главную</button>
<script src="/static/js/btn_redirect_2.js"></script>
</body>
</html>